#header {
  background-color: #ffffff;
  width: 90%;
  height: 100px;
  align-content:last baseline;
  padding-left: 15px;
  border-bottom: 1px solid black;
  margin-left: 5%;
}
#logo {
  padding-right: 15px;
  border-right: 2px solid black;
}
#XthseLogo {
  padding-left: 15px;
}
#XthseLogo, #logo {
  height: 40px;
  width: auto;
  margin-bottom: -10px;
}
#header-text {
  text-align: end;
  padding-right: 20px;
  padding-bottom: 7px;
  
}
a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.link.active::after{
  content: '';
  position: absolute;
  bottom: -3px; 
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.link:hover::after {
  content: '';
  position: absolute;
  bottom: -3px; 
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent rgb(92, 92, 91) transparent;
}
.link {
  position: relative;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding-bottom: 5px;
}
.link:hover {
  color: rgb(92, 92, 91);
}

#content {
  width: 90%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding-top: 50px;
  gap: 5em;

}

.Pics {
  width: 600px;
  height: 330px;
  border-radius: 30px;
  border: 1px solid #f5ba46;
}
.textDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
h1 {
  font-size: 40px;
  color: rgb(69, 69, 69);
}
p {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 17px;
  font-family: fantasy;
}


